log/
*.pyc
__*__
prediction_results/
train_NAMIC.py
test_NAMIC.py
part_output/
example_vtk.py
Test_lj/
Test1/
Dataset_npy/
# train_desktop.py
Test/
# train_ubuntu.py
Test1.zip/

vtk_files/

For_Training/

Test2/
Test3/
Test4/

mv_tmp.py

Test_cla_reg/